*.o
*.lo
*.la
client*.*
server*.*
fix8.spec
tags
fix8-qt.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compiler/.deps/
compiler/.libs/
compiler/Makefile
compiler/Makefile.in
compiler/f8c
config.guess
config.log
config.status
config.sub
depcomp
doc/Makefile
doc/Makefile.in
doc/doxyfile.stamp
doc/fix8.tag
doc/html/
include/f8config.h
include/f8config.h.in
include/stamp-h1
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
runtime/.deps/
runtime/.libs/
runtime/Makefile
runtime/Makefile.in
runtime/libfix8.la
test/.deps/
test/.libs/
test/Makefile
test/Makefile.in
test/Myfix_classes.cpp
test/Myfix_classes.hpp
test/Myfix_router.hpp
test/Myfix_traits.cpp
test/Myfix_types.cpp
test/Myfix_types.hpp
test/f8print
test/f8test
test/Perf_classes.cpp
test/Perf_classes.hpp
test/Perf_router.hpp
test/Perf_traits.cpp
test/Perf_types.cpp
test/Perf_types.hpp
test/f8perf
test/run
doc/fix8.doxygen
doc/man/f8c.1.gz
doc/man/f8c.1.xml
doc/man/seqedit.1.gz
doc/man/seqedit.1.xml
test/FIX44TEST2.xml
test/client
test/global_filename_not_set.log.*
test/gmon.out
test/gmon.out.client
test/gmon.out.server
test/harness
test/hf_client.xml.bak
test/hfprint
test/hftest
test/local_myfix_client.xml
test/server
test/test.fix
test/vfix1_myfix_client.xml
test/vfix_myfix_client.xml
util/.deps/
util/seqedit
utests/utest_classes.hpp
utests/utest_router.hpp
utests/utest_traits.cpp
utests/utest_types.cpp
utests/utest_types.hpp
.install
utests/.deps
utests/.libs
/test/FIX50SP2.xml.p1
/utests/fileLogger_test
/utests/filePersister_test
/utests/message_test
/utests/session_test
/utests/utest_classes.cpp
/include/fix8/f8config.h
/include/fix8/stamp-h1
