*.o
*.lo
*.la
*.swp
client*.*
server*.*
tags
Makefile
autom4te.cache/
compiler/.deps/
compiler/.libs/
compiler/f8c
include/fix8/f8config.h
config.guess
config.log
config.status
config.sub
depcomp
doc/doxyfile.stamp
doc/fix8.tag
doc/html/
runtime/.deps/
runtime/.libs/
runtime/libfix8.la
test/.deps/
test/.libs/
test/Myfix_classes.cpp
test/Myfix_classes.hpp
test/Myfix_router.hpp
test/Myfix_traits.cpp
test/Myfix_types.cpp
test/Myfix_types.hpp
test/f8print
test/f8test
test/Perf_classes.cpp
test/Perf_classes.hpp
test/Perf_router.hpp
test/Perf_traits.cpp
test/Perf_types.cpp
test/Perf_types.hpp
test/f8perf
test/run
doc/fix8.doxygen
doc/man/f8c.1.gz
doc/man/f8c.1.xml
doc/man/seqedit.1.gz
doc/man/seqedit.1.xml
test/FIX44TEST2.xml
test/client
test/global_filename_not_set.log.*
test/harness
test/hf_client.xml.bak
test/hfprint
test/hftest
test/local_myfix_client.xml
test/server
test/test.fix
test/vfix_myfix_client.xml
util/seqedit
utests/utest_classes.hpp
utests/utest_router.hpp
utests/utest_traits.cpp
utests/utest_types.cpp
utests/utest_types.hpp
utests/.deps
utests/.libs
/test/FIX50SP2.xml.p1
/utests/fileLogger_test
/utests/filePersister_test
/utests/message_test
/utests/session_test
/utests/utest_classes.cpp
/include/fix8/stamp-h1
/test-driver
/compile
intermediate_config.*
*.Plo
*.log*
/_build*.sh
/_make*.sh
\#
utests/store
build/
cmake-build*/
Session.vim
