<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fix8.dependencies.getopt" version="1.0.20151130.1" targetFramework="native" />
  <package id="fix8.dependencies.gtest" version="1.7.20151130.1" targetFramework="native" />
  <package id="fix8.dependencies.openssl" version="1.0.20151130.1" targetFramework="native" />
  <package id="fix8.dependencies.poco" version="1.6.20151130.1" targetFramework="native" />
  <package id="fix8.dependencies.tbb" version="4.4.20151130.1" targetFramework="native" />
</packages>