<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="openssl" version="1.0.1.24" targetFramework="Native" />
  <package id="openssl.redist" version="1.0.1.24" targetFramework="Native" />
  <package id="poco.crypto" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.crypto.redist" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.foundation" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.foundation.redist" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.net" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.net.redist" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.netssl" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.netssl.redist" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.util" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.util.redist" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.xml" version="1.4.6-p4" targetFramework="Native" />
  <package id="poco.xml.redist" version="1.4.6-p4" targetFramework="Native" />
  <package id="tbb" version="4.2.3.1" targetFramework="Native" />
  <package id="tbb.redist" version="4.2.3.1" targetFramework="Native" />
  <package id="zlib" version="1.2.8.1" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.1" targetFramework="Native" />
</packages>